.form {
    background-image: url("../../images/Rectangle_form.png");
    width: 430px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /*align-items: center;*/
    position: absolute;
    background-repeat: no-repeat;
    /*max-width: 430px;*/
    background-position: center center;
    color: inherit;
    z-index: 2;
}

@media screen and (max-width: 600px) {
    .form {
        background-image: url("../../images/Rectangle_form_m.png");
        width: 320px;
        height: 372px;
    }
}
