.popup__container {
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 430px;
    min-height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-repeat: no-repeat;
    background-position: center center;
    color: inherit;
    z-index: 2;
    position: fixed;
    box-sizing: border-box;
    flex-basis: content;
    height: min-content;
}

@media screen and (max-width: 600px) {
    .popup__container {
        width: 282px;
        min-height: 322px;
    }
}
