.profile {
    display: flex;
    max-width: 880px;
    justify-content: start;
    align-items: center;
    font-family: Inter, Arial, Arvo, serif;
    position: relative;
}

@media screen and (max-width: 930px) {
    .profile {
        display: block;
        max-width: 600px;
    }
}
