.header__line {
    background-image: url("/images/Line.png");
    background-color: #c7b39b;
    width: auto;
    height: 1px;
    margin-top: 41px;
}

@media screen and (max-width: 600px) {
    .header__line {
        margin-right: 0;
        margin-left: 0;
        margin-top: 32px;
    }
}
