.elements__button-like {
    background-image: url("../../../images/like.svg");
    width: 22px;
    height: 19px;
    background-repeat: no-repeat;
    margin-right: 20px;
    background-size: cover;
    background-position: center center;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.elements__button-like:hover {
    opacity: 0.6;
}

.elements__button-like:active {
    background-image: url("../../../images/like_active.svg");
    opacity: 1;
}
