.profile__decorative-element {
    background-image: url("/images/Vector.png");
    width: 22px;
    height: 22px;
    background-size: contain;
    display: block;
    background-repeat: no-repeat;
    margin-left: 64px;
    margin-right: 64px;
}

.profile__decorative-element:hover {
    transform: rotate(225deg);
    transition-duration: .2s;
    transition-timing-function: ease-in;
}

@media screen and (max-width: 930px) {
    .profile__decorative-element {
        margin-left: auto;
        margin-right: auto;
    }
}
