.footer__copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    padding-top: 67px;
    margin-block-start: 0;
    margin-block-end: 0;
}

@media screen and (max-width: 986px) {
    .footer__copyright {
        padding-bottom: 36px;
    }
}

@media screen and (max-width: 600px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
        padding-top: 50px;
        min-width: 282px;
    }
}
