.profile__name {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    display: inline-block;
    width: 300px;
    margin-block-start: 0;
    margin-block-end: 0;
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    text-overflow: ellipsis;
}

@media screen and (max-width: 930px) {
    .profile__name {
        font-style: normal;
        font-weight: 500;
        font-size: 27px;
        line-height: 33px;
        max-width: 186px;
        margin-left: auto;
    }
}
